<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700,900" rel="stylesheet">

  <link rel="stylesheet" th:href="@{/css/style.css}">

  <title>urCach | Avvicinati al tuo sogno!</title>
</head>

<body>

  <div class="adminLogin">
    <div class="adminLogin__content">

      <form th:action="@{/loginAdmin}" method="POST" class="popup__form">
        <h3>Bentornato</h3>
        <label for="username">Username</label>
        <input type="text" name="username" id="username">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
        <input type="submit" value="Login" class="button">
      </form>
    </div>
  </div>

</body>

</html>