 <aside class="col-md-3 col-xs-12" xmlns:th="http://www.thymeleaf.org" th:fragment="sidebarPersonale">
            <h3>Quick Link</h3>
            <ul>
                <li th:if="${session.get('atleta')} != null"><a th:href="@{/areaPersonale}">Ordini Effettuati</a></li>
                <li th:if="${session.get('trainer')} != null"><a th:href="@{/areaPersonale}">Vendite Effettuate</a></li>
                <li th:if="${session.get('trainer')} != null"><a th:href="@{/areaPersonale/gestionePacchetti}">Gestione Pacchetti</a></li>
                <li><a th:href="@{/areaPersonale/modificaProfilo}">Modifica Profilo</a></li>
                <li><a th:href="@{/areaPersonale/profilo(azione='rimuovi')}">Elimina Profilo</a></li>
                <li><a th:href="@{/logout}">Logout</a></li>
            </ul>
        </aside>
