<div class="">
    <div class="card">
        <div class="card__img"><img src="img/header.jpg" alt=""></div>
        <div class="card__container"><h4 class="card__title">'+element.nome+'</h4>
            <ul class="card__tag">
                <li>Durata: '+element.durata+'week</li>
                <li>Obiettivo:'+element.categoria+'</li>
                <li>'+element.personalTrainer+'</li>
            </ul>
            <p class="paragraph"></p><a href="PacchettoSingleServlet?id='+element.idPacchetto+'" class="button">Acquista
                '+element.costo+'€</a></div>
    </div>
</div>